@media only screen and (min-width: 1024px) {
    .list-of-festivals  {
        position: absolute;
        width: 56%;
        right: 0;
        top: 6%;
        z-index: -1;
    }

    .festival-page-mic {

    }

    .desktop-h1 {
        display: block;
    }

    .list-of-festivals h1 {
        padding-left: 140px;
    }

    .list-of-festivals tr td {
        padding: 25px 0;
    }

    .list-of-festivals span {
        display: inline-block;
        padding-left: 140px;
    }

    .table-part-two {
        display: none;
        opacity: 0;
    }

    .mobile-h1 {
        display: none;
    }
}

@media only screen and (min-width: 769px) {
    #logo-wrapper {
        padding-left: 125px;
    }
    .page-content {
        padding-left: 125px;
        margin-top: 175px;
    }

    #navigation-wrapper {
        position: absolute;
        width: 75px;
        height: 100%;
        line-height: normal;
        border-right: 1px solid rgba(255,255,255,0.15);
     }

    .navigation {
        position: relative;
        width: 75px;
        top: 22%;
    }

    .navigation:first-child {
        border-top: 1px solid rgba(255,255,255,0.15);
    }

    .navigation li {
        display: block;
        width: 75px;
        height: 75px;
        line-height: 75px;
        border-bottom: 1px solid rgba(255,255,255,0.15);
        border-right: none;
    }

    .navigation li a {
        padding: 25px;
    }
}
/* large devices, wide screens */
@media only screen and (max-width : 1200px) {

}

/* medium devices, desktops */
@media only screen and (max-width : 992px) {

}

/* small devices and tablets */
@media only screen and (max-width : 768px) {
    body,html {
        overflow-y: scroll;
    }
    .page-content {
        padding-left: 15px;
        margin-top: inherit;
    }
    #logo-wrapper {
        padding-left: 15px;
    }
    #home-page-scene, #festival-page-scene, #media-page-scene {
        display: none;
    }

    .primary-view {
        position: static;
        width: 100%;
        height: 100%;
    }

    #media-page {
        display: none;
        opacity: 0;
        background-image: none;
    }
}

/* extra small device's, phones */
@media only screen and (max-width : 480px) {

}

/* iPhone 6 Vertical */
@media only screen and (max-width: 375px) {

}

/* custom, iphone retina */
@media only screen and (max-width: 320px) {
    .button {
        width: 45%;
    }
}