@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeueBold.ttf');
}

body, html {
    background-color: black;
    overflow-x: hidden;
    /*overflow-y: hidden;*/
}

* {
    box-sizing: border-box;
    font-size: 16px;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
}

h1 {
    color: white;
    font-family: 'Bebas Neue', 'Helvetica Neue', 'Helvetica', sans-serif;
}

label {
    color: white;
    font-family: 'Assistant', 'Helvetica Neue', 'Helvetica', sans-serif;
    font-weight: 200;
    display: block;
    margin-bottom: 4px;
    font-size: 0.875em;
}

.primary-view {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
}

#home-page {
    display: block;
    opacity: 1;
}

#festival-page {
    display: none;
    opacity: 0;
}

#media-page {
    display: none;
    opacity: 0;
    background-image: url("../media/images/media-page-bg-one.jpg");
    background-position: center ;
    background-size: cover;
}

/** DESKTOP VIDEO  PAGE STYLES ----------------------------**/

#desktop-video-overlay {
    position: absolute;
    z-index: -1;
    opacity: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.90);
    padding-top: 25px;
}

.desktop-video-wrapper {
    position: relative;
    height: auto;
    width: 80%;
    margin: 0 auto;
    background: transparent;
}

#video {
    min-width: 100%;
    max-width: 100%;
}

#close-video-btn {
    display: block;
    color: #f3f3f3;
    cursor: pointer;
    float: right;
}

/** CONTACT FORM PAGE STYLES ----------------------------**/

#contact-form-overlay {
    position: absolute;
    z-index: -1;
    opacity: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.90);
    padding-top: 50px;
}

#contact-form-overlay button {
    margin-top: 10px;
}

#contact-form-overlay input {
    width: 100%;
    height: 40px;
    background-color: rgba(173, 152, 87, 0.39);
    border: none;
}

#contact-form-overlay p {
    font-size: 0.95em;
    color: #e6e6e6;
    font-family: 'Assistant', 'Helvetica Neue', 'Helvetica', sans-serif;
    font-weight: 200;
    line-height: 1.3333em;
}

#close-form-btn {
    display: block;
    color: #f3f3f3;
    cursor: pointer;
    float: right;
    margin-bottom: 25px;
}
/*
    z-indexes
    #logo-wrapper = 1001
    #navigation-button-wrapper = 1002
 */

.desktop-h1 {
    display: none;
}

/** NAVIGATION ------------------------------**/
#navigation-wrapper {
    position: relative;
    width: 100%;
    height: 45px;
    line-height: 45px;
    border-bottom: 1px solid rgba(255,255,255,0.15);
    z-index: 999;
}

.navigation {
    position: absolute;
    padding: 0;
    margin: 0;
    width: 90%;
}

.navigation li {
    display: inline-block;
    width: 30%;
    text-align: center;
    border-right: 1px solid rgba(255,255,255,0.15);
    transition-duration: 250ms;
}

.navigation li:hover {
    background-color: #655830;
}

.navigation li a {
    color: white;
    font-size: 0.725em;
    padding: 10% 33%;
    text-decoration: none;
}

.navigation li span {
    color: #ad9857;
    padding-right: 2px;
}

#navigation-button-wrapper {
    z-index: 1002;
    position: absolute;
    line-height: 45px;
    right: 7%;
}

#navigation-button-wrapper a {
    color: white;
}

/** BUTTONS  --------------------------------**/
.button {
    color: #dedede;
    font-family: 'Assistant', 'Helvetica Neue', 'Helvetica', sans-serif;
    font-weight: 300;
    font-size: 0.75em;
    border: 1px #dedede solid;
    background-color: rgba(0,0,0,0.25);
    display: inline-block;
    height: 40px;
    padding: 10px;
    width: 40%;
    /* if button doesnt have abs class these declarations are ignored */
    text-transform: uppercase;
    transition-duration: 500ms;
}

.button:hover {
    opacity: 0.5;
}

.button:focus {
    outline-color: #000000;
}

#play-video-btn {
    background-color: #ad9857;
    border: 1px solid #ad9857;
}

/** LOGO WRAPPER ------------------------------**/
#logo-wrapper {
    z-index: 1001;
    position: relative;
    text-align: left;
    padding-left: 15px;
    padding-top: 25px;
}

.husa-small-logo {
    display: inline;
    height: 36px;
    max-width: 100%;
    line-height: 40px;
}

.jazz-tour-logo {
    margin: 8px 0 0 0;
    display: inline-block;
    font-family: 'Bebas Neue', 'Helvetica', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    vertical-align: middle;
    font-size: 36px;
    color: #ad9857;
    padding: 0;
    line-height: 40px;
}

/** PAGE CONTENT -----------------------------**/

.page-content p {
    font-size: 0.95em;
    color: #e6e6e6;
    font-family: 'Assistant', 'Helvetica Neue', 'Helvetica', sans-serif;
    font-weight: 200;
    line-height: 1.3333em;
}

/** FESTIVALS LIST ----------------------------**/

.list-of-festivals table {
    min-width: 100%;
}

.list-of-festivals tr td {
    color: #ad9857;
    font-family: 'Assistant', 'Helvetica Neue', 'Helvetica', sans-serif;
    font-size: .8555em;
    padding: 8px;
    font-weight: 700;
    border-bottom: 1px solid rgba(132, 112, 67, 0.72);
}


.list-of-festivals tr td:nth-child(2) {
    color: white;
}

/** ACCORDION CUSTOM STYLES ----------------------------**/
.media-profiles-accordion {
}

.panel-body ul {
}

.panel-body li {
}

.panel {
    background-color: transparent;
    border: none;
}

.panel-heading {
    background-color: transparent !important;
    padding: 0;
}

.panel-title a {
    font-family: 'Bebas Neue', 'Helvetica Neue', 'Helvetica', sans-serif;
    text-transform: uppercase;
    color: #ad9857;
    font-size: 140%;
    letter-spacing: 1px;
    text-decoration: none !important;
}

a[aria-expanded="true"] {
    color: white;
}

.panel-title:hover {
    text-decoration: none !important;
}

/* Panel Body Heading li, and nested li */
.panel-body {
    color: #f3f3f3;
    border: none !important;
}

.panel-body h5 {
    margin-bottom: 5px;
}

.panel-body ul li {
    font-size: 88%;
    font-weight: 300;
    font-family: 'Assistant', 'Helvetica', 'Helvetica Neue', sans-serif;
    color: #f3f3f3;
}

/** SCENE PAGE STYLES ----------------------------**/

/*.layer div {*/
    /*border: 1px solid red;*/
/*}*/

.home-page-billie img,
.home-page-top-curtain img,
.home-page-mic img,
.festival-page-billie img,
.festival-page-mic img,
.media-page-holiday-sig img,
.media-page-bg-two img {
    min-width: 100%;
    min-height: 100%;
    max-height: 100%;
}

#home-page-scene,
#festival-page-scene {
    padding: 0;
}

/** HOME PAGE STYLES ----------------------------**/
.home-page-billie {
    width: 54vw;
    height: 90vh;
}
.home-page-billie {
    margin-left: 10vw;
    margin-top: 10vh;
}

.home-page-top-curtain {
    width: 30vw;
    height: 30vh;
}
.home-page-top-curtain {
    margin-left: 70vw;
}

.home-page-mic {
    width: 14vw;
    height: 60vh;
}
.home-page-mic {
    margin-left: 65vw;
    margin-top: 40vh;
}

.hphs-fix {
    position: relative;
    max-width: 100%;
    max-height: 100%;
}
.home-page-holiday-sig {
    height: 46vh;
}
.home-page-holiday-sig {
    margin-left: 45vw;
    margin-top: 13vh;
    position: absolute;
}

/** FESTIVAL PAGE STYLES ----------------------------**/
.festival-page-billie {
    width: 65vw;
    height: 100vh;
}

.festival-page-billie {
    margin-left: -14%;
    margin-top: 0;
}

.festival-page-mic {
    height: 50vh;
}

.festival-page-mic {
    margin-left: 55vw;
    margin-top: 50vh;
}

/** MEDIA PAGE STYLES ----------------------------**/
.media-page-holiday-sig {
    width: 60%;
    height: 41%;
}
.media-page-holiday-sig {
    margin-top: 10vh;
    margin-left: 40vw;
}

.media-page-bg-two {
    width: 100vw !important;
    height: 100vh !important;
}
